<%= link_to "General Listing", products_path, class: "button tiny radius"%>
<div class="row">
    <div class="large-12 columns">
      <div class="panel">

    <% if current_user %>
    <span id ="welcometext">Welcome <%= current_user.name %>!</span>
    <%#= link_to "Sign out", user_signout_path, id: "sign_out", class: "button tiny radius" %>
    
    <% else %>
    <% end %>
  </div>
</div>
</div>

  <div class="row">
    <div class="large-3 columns hide-for-small">
      <div class="panel">
        <h5>Your performance</h5>
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <h5 class="panel">Products claimed: <span class ="color"><%= current_user.promoting_products.count %></span></h5>
          </section>
          <section class="section">
            <h5 class="panel">Likes Generated:</h5>
          </section>
          <section class="section">
            <h5 class="panel">Number of Rewards earned:</h5>
          </section>
          <section class="section">
            <h5 class="panel">Products' pending</h5>
          </section>
        </div>
 
      </div>
    </div>
    

        <div class="large-9 columns small-6">
            <% @products.each do |p| %>
                <%=form_for p, :html => { :multipart => true } do |f|%>
               <% if p.image_file_name %>
                 <%= image_tag p.image.url(:medium), class: "product"%>
               <% else %>
                 Upload a picture, you dumbass
                <%= f.file_field :image, class: 'form-control' %>
               <%= f.submit "Add a New Creation!", class: 'button tiny radius'%>
               <% end %>
               <br>
               <div class="panel"><%= p.promoting_product.name %></div> 
            <%end%> 
           
            
            <div class="panel">Product name: <%= p.promoting_product.name %></div> 
               <div class="panel">Requirement: <%= p.promoting_product.requirement %></div> 
               <div class="panel">Rewards: <%= p.promoting_product.reward %></div>
               <%= link_to 'delete', product_promotion_path(p), method: :delete %><br>
                <div class="fb-share-button" data-href="<%=p.image.url%>" data-width="80px" data-type="box_count"></div>
          <%end%>

        </div>
      </div>
    </div>

  </div>

 
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-5 columns">
          <p>©</p>
        </div>
      </div>
    </div>
  </footer>
<script type="text/javascript">
  $(function(){
    baseUrl = location.href.substring(0, location.href.lastIndexOf("/"));
    $(".fb-share-button").each(function(){
      $(this).attr("data-href", baseUrl + $(this).attr("data-href"));
      console.log($(this).attr("data-href"));
    });
  });
</script>
