<div class="row">
    <div class="large-12 columns">
      <div class="panel">

    <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", user_signout_path, id: "sign_out", class: "button tiny radius" %>
    <%= link_to "General Listing", products_path, class: "button tiny radius"%>
    <% else %>
    <% end %>
      </div>
    </div>
  </div>
   
  <div class="row">
    <div class="large-3 columns hide-for-small">
      <div class="panel">
        <h5><%= current_user.name %>'s performance</h5>
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <h5 class="panel">Products claimed:</h5>
          </section>
          <section class="section">
            <h5 class="panel">Likes Generated:</h5>
          </section>
          <section class="section">
            <h5 class="panel">Number of Rewards earned:</h5>
          </section>
          <section class="section">
            <h5 class="panel">Products' pending</h5>
          </section>
        </div>
 
      </div>
    </div>
    
     
    <div class="large-6 columns">
      <div class="row">
        <div class="large-6 columns small-6">
            <% @products.each do |p| %>
                <%=form_for p, :html => { :multipart => true } do |f|%>
               <% if p.image_file_name %>
                 <%= image_tag p.image.url(:medium), class: "product"%>
               <% else %>
                 Upload a picture, you dumbass
                <%= f.file_field :image, class: 'form-control' %>
               <%= f.submit "Add a New Creation!", class: 'button tiny radius'%>
               <% end %>
               <br>
               <div class="panel"><%= p.promoting_product.name %></div> 
            <%end%> 
          <%end%>
        </div>
      </div>
      <%= will_paginate @products %>
    </div>
     
    <aside class="large-3 columns hide-for-small">
      <p class="panel" id="featured"><img src="http://placehold.it/300x440&text=[Featured Product]"/><span class="button tiny" style="width:218px">Promote This!</span></p>
      <p class="panel" id="featured"><img src="http://placehold.it/300x440&text=[Featured Product]"/><span class="button tiny" style="width:218px">Promote THis!</span></p>
    </aside>
 
  </div>
   
 
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-5 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
      </div>
    </div>
  </footer>