

<%= form_for @company do |c| %>
<div class = "signupform"> 
	<p>Sign Up Page<p>
	<div class ="formfield">Company Name:</div> <div><%= c.text_field :name %> </div>
	<div class ="formfield">Email:</div><div> <%= c.text_field :email %> </div>
<!-- 	<div class ="formfield">Website:</div><div> <%= c.text_field :url %> </div>
	<div class ="formfield">Mission:</div><div> <%= c.text_field :mission %> </div> -->
	<div class ="formfield">Password</div><div> <%= c.password_field :password %> </div>
	<div class ="formfield">Confirm Password</div><div> <%= c.password_field :password_confirmation %> </div>
	<%= c.submit %>
	<% end %>
</div>



