
<div class="row">
    <div class="large-12 columns">
 
      <div class="row">
        <div class="large-4 small-12 columns">
 
          <img src="http://placehold.it/500x500&text=Logo">
 
          <div class="hide-for-small panel">
            <h3><%= @company.name.capitalize %>'s Company!</h3>
            <h5 class="subheader"><%=@company.mission%>
            </h5>
          </div>
          <div>
<%= link_to "Edit your profile", edit_company_path, :class => "button"%>
<%= link_to "Add a product", new_product_path, :class => "button"%>
          </div>
 
         
 
        </div>
 
     
 
 
     
 
        <div class="large-8 columns">
          <div class="row">
          <% @company.products.each do |c| %>
            <div class="large-4 small-6 columns">
              <div id = "jibox">
                <%= image_tag c.image.url(:medium)%>
                <br>
                Product Name:<%= c.name %> <br>
                Product Reward:<%= c.reward %> <br>
                Product Requirement: <%= c.requirement %>
                </div>
            </div>
             <% end %>
          </div>
        </div>
      </div>
 
 
     
 
      <footer class="row">
        <div class="large-12 columns"><hr/>
          <div class="row">
 
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
 
          </div>
        </div>
      </footer>
 
     
 
    </div>
  </div>
 