
<div class="row">
    <!-- <div class="large-12 columns"> -->
     
      <div class="row">
 
   
 
        <aside class="small-3 columns">
          <h3>Welcome <%= @company.name %></h3>
          <div>
            <%= link_to "Account setting", edit_company_path, :class => "button expand"%>
            <%= link_to "Add a product", new_product_path, :class => "button expand"%>
            <%= link_to "Sign Out", sessions_path, method: :delete, :class => "button expand"%>

          </div>

 
        </aside>
 
     
 
 
     
 
          <article class="small-9 columns">
            
   
            <div class="row">
              <% @company.products.each do |c| %>
                <div class="large-4 small-6 columns">
                  <div id = "jibox">
                    <div class="th">
                      <%= image_tag c.image.url(:medium)%>
                    </div>
                    <br>
                    Product Name: <%= c.name %> <br>
                    Product Reward: <%= c.reward %> <br>
                    Product Requirement: <%= c.requirement %>
                  </div>
                </div>
               <% end %>
              
            </div>
          </div>
        </article>
 
 
 
     
 
      <footer class="row">
        <div class="large-12 columns"><hr/>
          <div class="row">
 
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
 
          </div>
        </div>
      </footer>
 
     
 </div>
 