<div class = "companycontainer">
        <aside class="aside ">
          <h3>Welcome <%= @company.name %></h3>
          <div>
            <%= link_to "Account setting", edit_company_path, :class => "button expand"%>
            <%= link_to "Add a product", new_product_path, :class => "button expand"%>
            <%= link_to "Sign Out", sessions_path, method: :delete, :class => "button expand"%>
          </div>
        </aside>
      
 <div class ="companyrow">
    <h1> Your Products </h1>
          <% @company.products.each do |p| %>
            <div class="testing">
                <p><%= link_to p.name, p %></p>
                  <%= image_tag p.image.url(:medium), class: "productimage"%>
                <div class = "producttext">
                    <strong>Description:</strong>
                    <%= p.description %>
                    <div>
                      <strong>Reward:</strong> <%= p.reward %><br>
                      <strong>Requirement:</strong> <%= p.requirement %> likes<br>
                      <strong>Promoted by:</strong> <%= link_to p.product_promotions.count, p %> people
                    </div>
                    
                     <span><%= link_to 'Edit', edit_product_path(p) %> | 
                    <%= link_to 'Delete', product_path(p), method: :delete, data: { confirm: "Delete #{p.name} ?" } %></span>
                </div>
              </div>
          <% end %>            
          </div> 
          


<!--               <footer class="row">
                 <div class="large-12 columns"><hr/>
                    <div class="row">
                      <div class="large-6 columns">
                    <p>© Copyright no one at all. Go to town.</p>
                  </div>
                </div>
              </div>
            </footer> -->

     </div>
