
<h1>Product#new</h1>
<p>Find me in app/views/product/new.html.erb</p>

<fieldset>
<legend>Add New Product</legend>
<%= form_for @product, :html => { :multipart => true } do |f| %>

  <%= f.file_field :image, class: 'form-control' %>
  <p>Name: <%= f.text_field :name, class: 'form-control', placeholder: 'product name'%></p>
  <p>Rewards: <%= f.text_field :reward, class: 'form-control', placeholder: 'reward'%></p>

  <p>Likes requirement: <%= f.number_field :requirement, class: 'form-control', placeholder: 'likes requirement'%></p>
  <%= f.submit "Product", class: 'button radius'%>
<% end %> 
</fieldset>

