

<div class="row">
	<% if current_company %>
	<%= link_to "Home", company_path(current_company) %> | <%= link_to 'Sign out', sessions_path, method: :delete %>
	<% end %>
</div>

<div class="row">
	<h4><%= @product.name %> by <%= @product.company.name %></h4>
	<div class="large-5 columns">
		<div class="th">  
			<%= image_tag @product.image.url(:medium)%>
		</div>
		<p>Product Description: <%=@product.description %></p>
		<p>Reward: <%= @product.reward %></p><br/>
		<p>Requirement: <%= @product.requirement %></p>
	</div>

	
	<div class = "large-7 columns" id ="promotersbox">
		<% @promotions.each do |promotion| %>
			<% if promotion.image_file_name %>
			
				<div class = "th">
				<%= image_tag promotion.image.url(:thumb) %>
				Promoted by <%= promotion.promoter.name %>

			</div>
		
		<% end %>	
	<% end %>
	</div>



</div>
