<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <title>Like It ? | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="fb-root"></div>

<% if current_user %>
<div id = "navstatus">
		<%= link_to "Sign out", user_signout_path, id: "sign_out", class: "button tiny radius" %>
		<% else %>
		<% end %>
</div>
		<%= yield %>


	<script type="text/javascript">
	var s = skrollr.init();
	</script>

</html>
